main {
    width: 90%;
    margin: auto;
}

main h1 {
    text-align: center;
}

main p {
    text-align: center;
}

main form {
    margin: auto;
    width: fit-content;
}

main form fieldset {
    font-size: 1.05rem;
}

main form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.05rem;
}

main form input {
    font-size: 1.05rem;
}

main form textarea {
    font-size: 1.05rem;
}
