main {
    width: 90%;
    margin: auto;
}

main h1 {
    text-align: center;
}

main p {
    text-align: center;
}

main form {
    margin: auto;
    width: fit-content;
}

main form fieldset {
    font-size: 1.05rem;
}

main form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.05rem;
}

main form input {
    font-size: 1.05rem;
}

main form textarea {
    font-size: 1.05rem;
}

.sendbttn {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 200px;
    margin: 20px auto;

    padding: 8px 22px;
    font-size: medium;

    background-color: #0d96b4;
    color: black;
    border: none;
    cursor: pointer;
}

.sendbttn:hover {
    background-color: darkgray;
}

fieldset {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

footer {
    background-color: #0d96b4;
    position: relative;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

footer a {
    margin-top: 0px;
}

footer p {
    display: inline;
    margin-right: 25px;
}