footer {
    background-color: #0d96b4;
    position: relative;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

footer a {
    margin-top: 0px;
}

footer p {
    display: inline;
    margin-right: 25px;
}