main {
    width: 90%;
    margin: auto;
}

main h1 {
    text-align: center;
}

main p {
    text-align: center;
}

.input {
    /* display: grid; 
    grid-template-columns: 1fr;
    gap: 10px;
    width: 50px; */
    display: grid;
    place-items: center;
}

.subtitle {
    text-align: center;
}

/* .grid-input {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns, adjust as needed */
/* gap: 10px;
    text-align: center;
} */

/* .buttons{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 1520px;
} */

body {
    font-family: "Arial", sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.input {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
    margin-top: 20px;
}

.input input {
    padding: 8px;
    width: 60%;
    box-sizing: border-box;
}

.loginbttn,
.regbttn {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 200px;
    margin: 20px auto;
}

.regbttn a {
    text-decoration: none;
    color: #0d96b4;
}

.loginbttn button {
    padding: 8px 22px;
    font-size: medium;
}

.loginbttn button {
    background-color: #0d96b4;
    color: black;
    border: none;
    cursor: pointer;
}

.loginbttn button:hover {
    background-color: darkgray;
}

.regbttn a:hover {
    text-decoration: underline;
}

fieldset {
    width: 80%;
    margin: auto;
}
