/*need to make css file for once logged in and using their ID to check so they have the log out button avaliable.*/

body {
    min-height: 100vh;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
nav {
    /*display: flex; */
    /*justify-content: center; */
    /* align-items: center;
    background-color: #0d96b4;
    overflow: hidden;
    size: auto; this notes */
    display: flex;
    align-items: center;
    background-color: #0d96b4;
}

.navMenu,
.header,
.navbar-logo {
    display: flex;
    /*margin-left: 10px;
    float: left;
    color: black;
    text-align: center; noted */

    padding: 14px 20px;
    display: flex;
    margin-left: 10px;
}

.navMenu {
    background-color: #0d96b4;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.navMenu:hover {
    background-color: #41c4e0;
}

.navList {
    display: flex;
}

.header {
    padding-left: -20px;
    margin-left: -20px;
}

.navbar-logo {
    border-radius: 50%;
}

@media (max-width: 700px) {
    .header {
        display: none;
    }
}

@media (max-width: 595px) {
    .navbar-logo {
        display: none;
    }

    nav {
        margin: auto;
        justify-content: center;
    }

    .navList {
        flex-direction: column;
        align-items: center;
    }

    .navMenu:hover::after {
        transform: scaleX(1); /* Full width on hover */
    }
}

/*body {
    min-height: 100vh;
    margin: 0px;
    font-family: "Roboto", sans-serif;
} */
/*the og if goes wrong*/
/*nav {
    /*display: flex; */
/* justify-content: center; */
/* align-items: center;
    background-color: #0d96b4;
    overflow: hidden;
    size: auto; this notes */
/*  display: flex;
    align-items: center;
    background-color: #0d96b4;
}

.navMenu,
.header,
.navbar-logo {
    /* display: flex; */
/*margin-left: 10px;
    float: left;
    color: black;
    text-align: center; noted */

/*padding: 14px 20px;
    display: flex;
    margin-left: 10px;
}

.navMenu {
    background-color: #0d96b4;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.navMenu:hover {
    background-color: #41c4e0;
}

.header {
    padding-left: -20px;
    margin-left: -20px;
}

.navbar-logo {
    border-radius: 50%;
}

@media (max-width: 700px) {
    .header {
        display: none;
    }
} */

