main {
    width: 90%;
    margin: auto;
    padding-bottom: 250px;
}

main h1 {
    text-align: center;
}

main p {
    text-align: center;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 400px; /* Adjust as needed */
    margin: auto; /* Center the fieldset */
    text-align: center; /* Center text */
}

legend {
    font-weight: bold;
    color: #0d96b4; /* Adjust color as needed */
}

.input-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input-fields {
    display: flex;
    gap: 10px;
}

.input-fields input {
    padding: 10px;
    width: 200px; /* Adjust the width as needed */
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.coloured-button {
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #0d96b4;
    color: #fff;
    cursor: pointer;
}

.coloured-button:hover {
    background-color: darkgray;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0d96b4;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hide{
    display: none;
}
