body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

main {
    width: 90%;
    margin: auto;
}

/* Form Styling */
fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

.form-row {
    margin-bottom: 15px;
}

/* Container for tables */
.table-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

/* Styling for tables with search */
.table-with-search {
    width: 100%;
    margin-bottom: 20px;
}

/* Styling for search container */
.search-container {
    margin-bottom: 10px;
}

/* Styling for tables */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Styling for table headers and cells */
.table th,
.table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

/* Background color for table headers */
.table th {
    background-color: #0d96b4;
    color: black;
}

/* Hover effect for table rows */
.table tbody tr:hover {
    background-color: #f5f5f5;
}

/* Styling for search input */
#searchBar {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Button styling (optional) */
.button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}
