.navigation{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
    background-color: #087891;
}

.navigation a{
    display: flex;
    margin-left: 10px;
}

.input {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 50px;
}