nav{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
    background-color: #087891;
}

nav a{
    display: flex;
    margin-left: 10px;
}

main{
    width: 90%;
    margin: auto;
  }
  
  main h1{
    text-align: center;
  }
  
  main p{
    text-align: center;
  }  

.input {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 50px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 50px;
}